body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0E141B;
    color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
}

.clock {
    text-align: center;
}

#time {
    font-size: 4em;
    margin-bottom: 0.5em;
}

#date {
    font-size: 2em;
}
